<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href="blog_style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#">News</a>
        <a href="#">Careers</a>
        <a href="#">About us</a>
      </div>
      
      <div class = "text_pos" style="padding-left:16px">
        <h2>Login</h2>
        <p><label for="userid">Username : </label>
        <input type="text" id="userid"></p>
        <p><label for="userpass">Password : </label>
        <input type="password" id="userpass"></p>
        
        <button type = "submit">Submit</button>

      </div>
      
    <script src = "blog.js"></script>
</body>
</html>